@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    text-align: justify;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

footer {
    position: fixed;
}

body {
    background-color: #000000;
    color: white;
}

.centralizar_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.definicaoPhishing {
    width: 800px;
    margin: 50px;
    border: 2px solid #00ffff;
    border-radius: 50px;
    padding: 30px;
    margin-top: 150px;
    color: #ffffff;
    transform: translateY(-5px);
    transition: all 0.5s ease;

    h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        display: flex;
        text-align: center, justify;
    }

    span {
        margin-left: 10px;
    }
}

.definicaoPhishing:hover {
    transform: translateY(0);
    /* Anima a posição ao passar o mouse */
    box-shadow: 0 15px 30px rgba(0, 255, 255, 0.4);
    /* Altera a sombra */
    border-color: #f06ee1;
    /* Muda a cor da borda */
}

.btns {
    width: 200px;
    text-align: center;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}


@media screen and (max-width: 768px) {
    footer {
        position: relative;
    }

    .btns {
        margin-bottom: 15px;
    }

    .definicaoPhishing {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 426px) {
    footer {
        position: relative;
    }

    .btns {
        margin-bottom: 15px;
    }

    .definicaoPhishing {
        margin-bottom: 15px;
    }
}