* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* background-color: black; */
}

.about {
    width: 100%;
    padding: 78px 0px;
    background-color: black;
}

.about img {
    height: auto;
    width: 320px;
}

.about-text {
    width: 950px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 80px;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    color: white;
    letter-spacing: 3px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

#Fala_conosco {
    background-color: rgb(49, 183, 183);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 90px;
    transition: .4s;
}

#Fala_conosco:hover {
    background: transparent;
    border: 2px solid;
    cursor: pointer;
}