@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  text-align: justify;
  box-sizing: border-box;
  /* background-color: #fff !important;
  color: black !important; */
}

html {
  scroll-behavior: smooth;
  /* color: black; */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: black;
  color: #ffffff;
  line-height: 1.7;
}

h1:not(.lg), h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

h1:not(.lg) {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
}

#titulo {
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#principal {
  font-size: 20px;
}

#Introdução,
#Phishing,
#Metodos,
#Noticias,
#Vitimas {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#Introdução img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

#texto {
  margin-bottom: 20px;
}

#img img {
  /* ; width: 75%; */
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  #Introdução .container {
    flex-direction: column;
    text-align: center;
  }

  #img img {
    /* width: 75%; */
    margin-top: 20px;
  }
}

.columns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.tiposPhishing {
  flex: 1;
  max-width: px;
}

.column h4 {
  margin-bottom: 10px;
}

.column p,
.column ul {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1rem;
}

@media screen and (max-width:768px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    max-width: 100%;
  }
}

.card {
  background-color: #1b263b;
  border: none;
}

.card-title {
  font-size: 1.2rem;
  color: #ffffff;
}

.card-text {
  color: #d3d3d3;
}

/*#texto h1 {
  font-size: 55px;

}*/

#texto p {
  font-size: 18px;
}

.h1 {
  text-align: center;
}

.video-container {
  text-align: center;
  padding: 60px;
  color: #fff;
}

.video-container iframe {
  width: 100%;
  max-width: 760px;
  height: 415px;
  border: none;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.definicaoPhishing {
  border: 2px solid #00ffff;
  border-radius: 50px;
  padding: 30px;
  margin: 15px;
  color: #ffffff;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  transition: all 0.5s ease;
  letter-spacing: 3px;


  h2 {
    text-align: center;
    color: #ffffff;

  }

  p {
    display: flex;
    justify-content: end;
    text-align: center, justify;
    letter-spacing: 2px;
  }
}

.definicaoPhishing:hover {
  transform: translateY(0);
  /* Anima a posição ao passar o mouse */
  box-shadow: 0 15px 30px rgba(0, 255, 255, 0.4);
  /* Altera a sombra */
  border-color: #ff00e1;
  /* Muda a cor da borda */
}

.ameaca {
  margin: 150px auto;
  white-space: 70%;
}

#imgCard {
  max-width: 450px;
  float: left;
  border-radius: 10px;
  margin: 0;
  margin-right: 15px;
}


.amTxt h2 {
  font-size: 42px;
}

.amTxt {
  margin-right: 25px;
}

.card {
  border: 2px solid #00ffff;
  border-radius: 10px;
  padding: 15px;
  margin: 25px 0;
  max-width: 500px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: transparent;
  align-items: center;
}

.more-text {
  display: none;
}

.card .expanded .more-text {
  display: inline;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 253, 249, 0.2);
  transform: translateY(-5px);
}

.toggleButton {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #eeeeee;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.centralizar_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.fileira_card {
  display: flex;
}

@media screen and (max-width:768px) {
  .fileira_card {
    display: block;
  }
}

#Noticias {
  margin-top: 70px;
  padding: 90px;
}

#Noticias p {
  font-size: 20px;
}

.msg {
  color: white;
  font-size: 45px;
  border-right: 10px solid rgb(17, 206, 206);
  white-space: nowrap;
  overflow: hidden;
  width: 25ch;
  animation: mark .5s step-end infinite, write 6s steps(22, end) infinite;
}

@keyframes mark {

  50% {
    border-right-color: transparent;
  }
}

@keyframes write {
  20% {
    width: 26.5ch;
  }

  70% {
    width: 26.5ch;
  }

  85% {
    width: 0;
  }

  100% {
    width: 26.5ch;
  }
}

#botaoNoticia {
  background-color: aqua;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 90px;
  transition: .4s;
  align-items: center;
}

#botaoNoticia:hover {
  background: transparent;
  border: 2px solid;
  cursor: pointer;
}

@media (max-width: 768px) {
  #Noticias {
    padding: 3%;
  }

  #Noticias p {
    font-size: 1rem;
  }

  .msg {
    font-size: 2rem;
    width: 20ch;
  }

  #botaoNoticia {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .amTxt {
    margin-right: 20px;
  }

  #imgCard {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  #Noticias {
    padding: 2%;
  }

  #Noticias p {
    font-size: 0.875rem;
  }

  .msg {
    font-size: 1.5rem;
    width: 18ch;
  }

  #botaoNoticia {
    font-size: 0.875rem;
    padding: 0.8rem 1.5rem;
  }

  .amTxt {
    margin-right: 20px;
  }

  #imgCard {
    max-width: 300px;
  }
}