footer {
    
}

main {
    height: 250px;
}

body {
    height: 500px;
}

#footer_content {
    /* background: red; */
    margin: 0;
    padding: 0;
}

#footer-lits{
    line-height: 1px;
}
#footer_content p {
    margin-top: 25px;
    line-height: 2px;
}

#VerificaUrl h1 {
    margin-top: 200px;
}

@media screen and (max-width:1080px) {
    footer {
        position: relative;
    }
}

.btn {
    margin-top: 25px;
}