
#footer_content {
    margin: 0;
    padding: 0;
}

#footer-lits{
    line-height: 1px;
}
#footer_content p {
    margin-top: 25px;
    line-height: 2px;
}

#VerificaUrl h1 {
   padding-top: 100px;
   text-align: center;
   font-size: 40px;
} 

.btn{
    background-color: rgb(49, 183, 183);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 90px;
}

.form-control{
    width: 90pxpx;
    height: 45px;
    border-radius: 25px;
}

#conteudo{
    padding-bottom: 70px;
}

@media screen and (max-width:1080px) {
    footer {
        position: relative;
    }
}

.btn {
    margin-top: 25px;
}
